body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2rem;
    background-color: #f2f2f2;
}

input,
button {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem;
}

input
{
    width: 60%; /* Use percentage */
    max-width: 200px; /* Optional cap */
}

a
{
    text-decoration: none;
    color: black;
}

#cardBox, #setBox {
    margin-top: 2rem;
    padding: 1rem;
    border: 3px solid #ccc;
    border-radius: 12px;
    background-color: white;
    width: 90%;          /* responsive width */
    max-width: 500px;    /* maximum width */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#cardImg
{
    width: 100%;         /* scale with container */
    height: auto;        /* preserve aspect ratio */
    image-rendering: pixelated;
    max-width: 367px;    /* don't go beyond original size */
}

#cardInfo p {
    margin: 0.3rem 0;
}

#cardmarket:hover {
    color: lightskyblue;
}
